{% extends 'miapp/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/style/styleregistro.css' %}">
{% endblock %}

{% block contenido %}


  <!--NAV SECUNDARIO-->

  <nav class="breadcrumb" aria-label="breadcrumbs">
    <h1>Contáctanos</h1>
    <a href="{% url 'home' %}" title="Volver a la portada" class="link2">Inicio</a>
    <span aria-hidden="true" class="breadcrumb__sep">/</span>
    <span>Contáctanos</span>
  </nav>

  <div class="collection_sidebar">
  </div>   

  <main>
    <div class="contenedor__todo">
      <div class="caja__trasera">
        <div class="caja__trasera-login">
          <h3>¿Ya tienes una cuenta?</h3>
          <p>Inicia sesión para entrar a <img src="{%  static 'app/imagenes/logonegro.png' %}" href="#" alt="Logo de Mi Sitio Web" class="logo"></p>
          <a href="{% url 'login' %}">
            <button>Iniciar sesion</button>
          </a>
        </div>
        <div class="caja__trasera-register">
          <h3 class="amarillito">¿Aún no tienes una cuenta?</h3>
          <p class="amarillito">Regístrate para que puedas iniciar sesión</p>
          <button id="btn__registrarse amarillito" class="amarillito">Regístrarse</button>
        </div>
      </div>

      <!--Formulario de Login y registro-->
      <div class="contenedor__login-register">
        <!--Login-->
        <form action="#" method="POST" id="formlogin" class="formulario__login">
          <h2>Iniciar Sesión</h2>
          <input type="email" id="lemail" placeholder="Correo Electronico">
              <div id="mensaje1" class="errores">
            <b class="tracking-in-contract">*Ingresa un email correcto</b>
          </div>
                <input type="password" id="lpassword" placeholder="Contraseña">
          <div id="mensaje2" class="errores">
            <b class="tracking-in-contract">*Campo contraseña vacio</b>
          </div>
                <button type="submit" id="btnlogin">Entrar</button>
        </form>

        <!--Register-->
        <form action="#" method="POST" id="formregistro" class="formulario__register">
          <h2>Regístrarse</h2>
          {%csrf_token%}
          {{ form }}

          

          <button type="submit" id="btnregistro">Regístrarse</button>
        </form>
      </div>
    </div>

  </main>

  
   


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
    <!--API-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'app/javascript/registro.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>

</html>

{% endblock %}

