@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

  body{

  background-color: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  }

 /*LOGO NAV*/
  .logo{
    height: 50px;
    width: 60px;
  }

  /*LOGO FOOTER*/
  .logo2{
    height: 80px;
    width: auto;
  }

   /*POSICION DEL SEARCH*/
  .d-flex{
    position: absolute;
    right: 20px;
}

/*MEDIDAS IMAGEN CARROUSEL*/
.d-block.w-100{
  width: 1245px;
  height: 700px;
  object-fit: cover;
  text-align: center;
  
}

hr{
  color: aliceblue;
}

/*.container-fluid{
  padding-bottom: 20px;
}*/

/*NAV SECUNDARIO*/
.breadcrumb {
  color: #4a4a4a;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 60px 30px;
  margin-top: 60px;
}

/* LINK DE NAV SECUNDARIO*/
.link2{
  color: #4a4a4a;
  text-decoration: none; /*quitar subrayado link*/
}

/*LINK DE FOOTER*/
.link3{
  color: white;
  text-decoration: none; /*quitar subrayado link*/
}


/*LINEAS DEBAJO DEL NAV*/
.collection_sidebar {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  padding-top: 30px;
}

.collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  text-align: center;
}

.collage img {
  width: 90%;
  height: 80%;
  object-fit: cover;
}


.collage figure {
  position: relative;
  
}


.desc{
  bottom: 0;
  background-color: transparent;
  color: #4a4a4a;
  width: 100%;
  font-size: 25px;
  text-align: center;
  
}

 
.collage wau {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }




.card{
    display: inline-block;
    object-fit: cover;
    text-align: center;
    margin: 17px;
    padding: 10px;
}

.card-img-top{
    width: 300px;
    height: 300px;
    border: 10px;
    text-align: center;
}

hr{color: black;}

.container{
  text-align: center;
}

.border-title {
  text-align: center;
  float: left;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;}


.rounded.float-end{
  
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 200px;
    width: 200px;


}



.text{
  width: 75%;
}

.tres{
  flex-direction: column;
  margin: 20px;
  
}



/* Estilos CSS para el collage */

.collage-item {
  width: 200px;
  height: 200px;
  margin: 10px;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
}

/* Agrega más estilos CSS según sea necesario */

article{
  position: relative;
  
  transition: all .3s ease;
}

article img:first-child{
  box-shadow: 0 60px 60px
  -60px #ffc107;
  border-radius: 4px;
  object-fit: cover;
  width: 70%;

}

article img:last-child{
  position: absolute;
  width: 350px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  transition:  .3s ease;
  opacity: 0;
}

article:hover{
  transform: 
    perspective(250px)
    rotateX(10deg)
    translateY(-5%)
    translateZ(0);
}

article::before{
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .3s ease;
}

article:hover::before{
  opacity: 1;
}

article:hover img:last-child{
  opacity: 1;
  transform: translateY(10%);
}

.card-link {
  text-decoration: none;
  color: inherit;
}

/*STYLE IMAGE*/

.arroz h3 {
  text-align: center;
  margin-top: 130px;
  font-size: 1.5em;
}

.arroz p {
  text-align: justify-all;
  margin-top: 10px;
  font-size: 0.9em;
  margin: 10px;
}

/*dimensiones en base al id del video*/
#imgduoc {
  width: 100%;
  max-width: 600px;
  float: right;
  margin: 20px;
}

@media (max-width: 414px) {

  imgduoc {
    float: none;
    width: 250px;
    height: 150px;
    align-items: center;
  }
  .arroz p{
    font-size: 18px;
    position: relative;
  }

}
